.portfolio {
    background-color: rgb(157, 172, 185);

    min-height: 100%;
    height: auto;


    padding: 25px;

}

.box {
    height: 360px;
    width: 750px;

    margin-top: 55px;
    margin-bottom: 55px;
    margin-left: 65px;
    margin-right: 65px;

    display: inline-block;

    overflow: hidden;

    border: 5px solid black;

}

.label {
    padding-top: 145px;
}

.linkContainer {
    
    background-color: aqua;
    height: 360px;
    width: 100%;

    overflow: hidden;
}

.projectLink {
    height: 360px;
    width: 720px;
   
    text-align: center;
    justify-content: center;
    align-items: center;

    padding-top: 150px;

    overflow: hidden;
}


.projectLink:visited {
    color: black;
}
