.portfolio {
    background-color: rgb(157, 172, 185);

    height: 100vh;
    
    padding: 25px;
}

.box {
    height: 315px;
    width: 500px;

    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    
    padding-top: 80px;
    padding-left: 160px;
    padding-right: 160px;

    justify-content: center;
    align-items: center;
    text-align: center;

    display: inline-block;

    overflow: hidden;


    background-color: pink;
}