.home {
    background-color: rgb(199, 193, 221);

    height: 70vh;

    overflow: hidden;
}

.intro {
    font-size: 50px;
    text-align: center;
    padding-top: 20vh;
    padding-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 40px; 
    text-align: center;

    padding-bottom: 1vh;
}

.container {
    position: absolute;
}

.photos {
    height: 30vh;

    display: flex;
    overflow: hidden;
    padding-top: 50px;
}

.block {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 90px;
    width: 60px;
    height: 70px;
    text-align: center;

}

.logo {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    width: 200px;
    height: 200px;
    padding-right: 55px;
    padding-left: 55px;
    padding-top: 20px;
}